.layout {
  width: 100%;

  display: grid;
  grid:
    "header" auto
    "main" auto
    "footer" auto
    / 1fr;
  gap: 8px;

  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.imageflex {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  grid-auto-flow: row dense;

  justify-content: space-evenly;
  align-content: space-evenly;
}
