.layout {
  width: 100%;

  display: grid;
  grid:
    "header" auto
    "main" auto
    "footer" auto
    / 1fr;
  gap: 8px;

  justify-content: space-between;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.imagesection { grid-area: imagesection; }

.imageflex {
  width: 100%;

  display: flex;
  gap: 16px;

  justify-content: center;
  align-items: center;
}
