.layout {
  width: 100%;

  display: grid;
  grid:
    "header" 20px
    "main" 600px
    "footer" 20px
    / 1fr;
  gap: 20px;

   justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }
