.layout {
  width: 100%;

  display: grid;
  grid:
    "header" 20px
    "main" 1fr
    "footer" 20px
    / 1fr;
  gap: 8px;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  margin-right:auto;
  margin-left:auto;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.imageflex {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(auto-fit, 240px);
  grid-template-columns: repeat(3, 240px);
  gap: 8px;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  margin-right:auto;
  margin-left:auto;
}
