.layout {
  width: 100%;

  display: grid;
  grid:
    "header" 20px
    "main images" 50px
    "footer" 20px
    / 1fr;
  gap: 20px;

  justify-content: space-between;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.imagegrid { grid-area: imagegrid; }

.imagegrid {
  width: 100%;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  justify-content: space-between;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}
